<a href="https://colab.research.google.com/github/dufec/E/blob/main/%D0%9D%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F2_%D0%92%D0%B8%D0%BA%D1%83%D0%BB%D0%BE%D0%B2%D0%A1%D0%9F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1

In [ ]:
a = int(input("Катет а = "))
b = int(input("Катет b = "))
c = (a**2 + b**2)**0.5
print("Гипотенуза =",c)

Катет а = 3
Катет b = 4
гипотенуза = 5.0

Задача 2

In [ ]:
a = int(input("Введите число "))
print("The next number for the number ", str(a), " is ", str(a + 1), "\nThe previous number for the number ", str(a), " is ", str(a - 1))

4
The next number for the number  4  is  5
The previous number for the number  4  is  3

Задача 3

In [ ]:
x = int(input("Введите число "))
if x % 10 == x // 1000 and x // 10 % 10 == x // 100 % 10:
  print('1')
else:
  print(x)

Введите число 3434
3434

Задача 4

In [23]:
h = int(input("h = "))
a = int(input("a = "))
b = int(input("b = "))
print(1 + (h - a) // (a - b))

h = 10
a = 2
b = 1
9

Задача 5

In [26]:
n = int(input("С начала дня прошло ... секунд "))
h = (n // 3600) % 24
n = n % 3600
m = (n // 60)
if m < 10:
    m = "0" + str(m)
s = n % 60
if s < 10:
    s = "0" + str(s)

print(h, m, s, sep=':')

С начала дня прошло ... секунд230
0:03:50

Задача 6

In [33]:
t1=list(map(int,input("Введите часы минут и секунды первого момента времени через пробел: ").split(' ')))
t2=list(map(int,input("Введите часы минут и секунды второго момента времени через пробел: ").split(' ')))
s1=t1[0]*3600+t1[1]*60+t1[2]
s2=t2[0]*3600+t2[1]*60+t2[2]
a = s2 - s1
print(a)

20 30 40
20 31 40
60

Задача 7

In [37]:
a = int(input("a = "))
b = int(input("b = "))
a += b
b = a - b
a = a - b
print("a =",a,"b =",b)

a = 2
b = 3
a = 3 b = 2

Задача 8

In [40]:
n = int(input("Кол-во школьников: "))
k = int(input("Кол-во яблок "))
print(-k % n)

Кол-во школьников: 20
Кол-во яблок 25
15

Задача 9

In [43]:
a = int(input("Введите трехзначное число: "))
a3 = a % 10
a2 = a // 10 % 10
a1 = a // 100
sum = a1 + a2 + a3
print("Сумма его чисел =",sum)

Введите трехзначное число: 234
Сумма его чисел = 9